**/.DS_Store

**/.git
**/.git/**

**/node_modules
**/node_modules/**

**/.turbo
**/.turbo/**

**/.cache
**/.cache/**

**/.agent
**/.agent/**

**/test-results
**/test-results/**

**/logs
**/logs/**

**/tmp
**/tmp/**

docker/postgres/data
docker/postgres/data/**
